##############################
## Folders                  ##
##############################
target
.settings
##############################
## Files                    ##
##############################
.project
.classpath
.gitignore
rebel.xml
src/main/resources/application-dev.properties
.project
target/classes/application.properties
target/classes/META-INF/MANIFEST.MF
